nav.topMenu {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.0em;
    margin: 0;
    padding: 0;
    height: 22px;
    font: 11px Verdana, sans-serif;
    width: 100%;
    list-style-type: none;
    margin-bottom: 20px;
}
nav.topMenu ul {
    margin: 0px;
    padding: 0px;
}
nav.topMenu ul li {
    display: inline-block;
    margin: 5px;
    padding: 0;
}

nav.topMenu ul li a,
nav.topMenu ul li a:link {
    background: #fff;
    color: #555;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    display: block;
}

nav.topMenu ul li a:hover {
    color: orange;
    border-bottom: 3px solid #000;
    cursor: pointer;
    background: #666;
}


nav.topMenu ul li a.actif {
    color: #fff;
    background: #000;
}